.box-grid {

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 15vh 50vh 25vh 20vh;
    background-color: #03e3fc;

    border-radius: 20px;
    min-height: 920px;
    
}

.logo {

    height: 90px;
    width: 500px;
    border-radius: 20px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
}

.logo1{

    grid-template-columns: 1/2;
    grid-template-rows: 2/4;
    grid-column: 1/2;

    height: 400px;
    width: 500px;
    border-radius: 20px;

    margin-top: 10px;   
    padding-left: 10px;
    padding-right: 10px;
   
}

header {

    grid-row: 1/4;
    grid-column: 2/2;

    background-color: #f8fc03;
    max-height: 50px;
    min-height: 50px;
    max-width: 250px;
    border-radius: 20px;

    padding-left: 20px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    font-size: 150%;
}

aside {

    grid-template-columns: 1/2;
    grid-template-rows: 2/4;
    grid-column: 1/2;
    

    background-color: #f8fc03;
    min-height: 50vh;
    border-radius: 20px;

    
    margin-left: 10px;
    margin-right: 10px;

    padding-left: 20px;
    
    display: flex;
    justify-content: left;
    flex-direction: column;

    font-size: 150%;

}

main {

    grid-template-columns: 2/2;
    grid-template-rows: 3/4;
    grid-column: 2/2;
    grid-row: 2/4;

    margin-left: 10px;
    margin-right: 10px;

    background-color: #f8fc03;
    min-height: 50vh;
    border-radius: 20px;

    padding-left: 20px;
    

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 150%;
}

nav{
    grid-template-columns: 2/2;
    grid-template-rows: 4/4;
    grid-column: 2/2;
    grid-row: 4/4;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

    background-color: #f8fc03;
    min-height: 30vh;
    border-radius: 20px;

    padding-top: 10px;
    padding-left: 20px;
    

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 150%;

}

h2{
    margin-top: 20px;
    margin-bottom: -10px;
   
}

